doctype html
html(lang="en")
    head
        title getblockcount API
    body 
        include includes/header.pug
        form(action="getblockcount_result" method="post")
            p
                |INFO :
            input(type="submit" value="getblockcount")
        include includes/footer.pug