.Block {
    background-color: white;
    height: 100vh;
    vertical-align:top;
    padding: 20px;
    color: #0c1a2b;
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .app-header {
    padding: 20px;
    color: #0c1a2b;
    text-align: center;
  }
  
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  
  .block-table {
    margin-left: 30%;
    margin-top: 30px;
    display:'inline';
    height:600;
    float:'left';
    padding:5;
    border:0.5px solid white;
    padding: 30px;
}

  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }